name: CI/CD

on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      fail-fast: true
      matrix:
        os:
          - ubuntu-22.04
          - ubuntu-24.04-arm
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: handelsblattmediagroup/lix-quick-install-action@v2.0.0
        with:
          lix_archives_url: https://github.com/handelsblattmediagroup/lix-quick-install-action/releases/download/v2.0.0
          lix_version: 2.92.0
      - name: Fix Lix tests
        if: matrix.os == 'ubuntu-24.04-arm'
        run: |
          sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0
          sudo sysctl -w kernel.apparmor_restrict_unprivileged_unconfined=0
      - name: Build Lix archives
        id: build-lix-archives
        run: |
          nix build -L -f default.nix combinedArchives
          echo "result=$(readlink result)" >> "$GITHUB_OUTPUT"
      - uses: actions/upload-artifact@v4
        with:
          name: lix-archives-${{ runner.os }}-${{ runner.arch }}
          path: ${{ steps.build-lix-archives.outputs.result }}/

  test:
    needs: build
    strategy:
      fail-fast: true
      matrix:
        os:
          - ubuntu-22.04
          - ubuntu-24.04-arm
        version:
          - 2.93.1
          - 2.92.2
          - 2.91.2
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        id: lix-archives
        with:
          name: lix-archives-${{ runner.os }}-${{ runner.arch }}
      - uses: ./
        with:
          lix_archives_url: file://${{steps.lix-archives.outputs.download-path}}
          lix_version: ${{ matrix.version }}
          lix_on_tmpfs: true
      - name: Test nix
        run: nix-build -v --version
      - name: Add to store
        run: |
          file="$RANDOM"
          echo "$RANDOM" > "$file"
          path="$(nix-store --add "./$file")"

  release:
    runs-on: ubuntu-latest
    needs:
      - build
      - test
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: lix-archives-Linux-X64
          path: /tmp/archives
      - uses: actions/download-artifact@v4
        with:
          name: lix-archives-Linux-ARM64
          path: /tmp/archives
      - uses: ./
        with:
          lix_archives_url: file:///tmp/archives
          lix_version: 2.92.0
      - name: Build release script
        run: nix build -f default.nix releaseScript
      - name: Release if needed
        run: ./result/bin/release /tmp/archives ./RELEASE
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
